
body {
    font-family: Arial, sans-serif;
}
table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
}
th, td {
    border: 1px solid #ddd;
    padding: 10px;
    text-align: left;
}
th {
    background-color: #2478FF;
    color: white;
}
.actions button {
    padding: 5px 10px;
    border: none;
    cursor: pointer;
    margin-right: 5px;
    color: white;
    border-radius: 5px;
}
.view { background-color: green; }
.update { background-color: orange; }
.delete { background-color: red; }
