div {
    background-color: black;
    color: aliceblue;
    font-family: Arial, Helvetica, sans-serif;
}

.dot-underline {
    text-decoration: underline dotted; 
    text-decoration-thickness: 2px; 
    text-underline-offset: 3px; 
    color: chartreuse;
}